body {
    /*background-color: #e47670;*/
    background: url("../material/Training Area Panorama.JPG");
    background-size: cover;
}

.container {
    background: white;
    padding: 0;
    min-height: 600px;
}

.logoCtn {
    padding: 10px 0 10px 20px;
    float: left;
}

.navbar {
    background: #fff;
    border-radius: 0;
}

.main-content {
    padding: 20px;
    min-height:100vh;
}

.companyName {
    float: left;
    font-size: 36px;
    color: #d81b12;
    font-weight: bold;
    margin: 18px 0 0 18px;
}

@media(min-width: 768) {
    .companyName {
        margin: 38px 0 0 30px;
    }
}

.main {
    width: 100%;
    float: left;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .main {
        width: 70%;
        padding-right: 20px;
    }
    .sidebar {
        width: 30%;
        float: left;
        display: block;
    }
}

.teamImg {
    float: left;
    display: block;
    margin: 0 15px 15px 0;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.sidebar {
    text-align: center;
    padding-top: 50px;
}

.sidebar img {
    text-align: center;
    width: 80%;
    margin: 0 0 10px 0;
}




